/* src/styles/global.css */
*, *::before, *::after {box-sizing: border-box; margin: 0%; padding: 0%; }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Fira+code:wght@400;500&display=swap');

:root {
    --primary: #0a2540;
    --secondary: #22d3ee;
    --bg: #0b1120;
    --bg-card: #111b2e;
    --text: #e2e8f0;
    --text-muted: #94a3b8;
    --font: "Poppins", sans-serif;
    --fornt-code: "Fira Code", monospace;
    --max-width: 1200px;
    --section-padding: 80px 24px;

}

html { scroll-behavior: smooth;}

body {
    font-family: var(--font);
    background: var(--bg);
    color: var(--text);
    line-height: 1.6;
}

section {
    padding: var(--section-padding);
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 24px;
}